.btn-share{
	margin-bottom:20px;
}
 /* Add a dark background color*/
.navbar {
    background-color: #2d2d30;
    border: 0;
    
    
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}

.search{
	opacity: 1;
}


.user-profile img.user-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.user-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.user-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.user-image-profile
{
    margin: -45px 0px 0px 25px;
    z-index: 9;
    width: 20%; 
}
.dropdown-menu li a {
    color: #fff !important;
}
}